html {
    height: 100%;
}

body {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
}

.header {
    margin: 30px 60px;
    text-align: center;
}

.header img {
    max-width: 800px;
}

.overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}

.overlay.modal {
    background-color: rgba(0, 0, 0, .4);
}

.under-construction .overlay-image {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}