html {
    height: 100%;
}

body {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
}

.header {
    margin: 30px 60px;
}

.header h1 {
    margin: 0;
}

.overlay {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, .4);
}

.under-construction .overlay-image {
    height: 100%;
    width: 100%;
    background-image: url("../images/under_construction2.png");
    background-size: 30%;
    background-position: 10% 80%;
    background-repeat: no-repeat;
}